body {
  background-color: #252526!important;
  color: white!important;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto; /* Center horizontally */
  padding: 0 1em; /* Add padding for small screens */
  font-weight: normal;
} 

body.contrast-change {
  background-color: #FAFAD2 !important;
  color: #252526 !important;
}

/*
.font-change body{
    font-size: 20px;
}

.font-change #app {
    font-size: 20px;
}
*/

/* For tablets and small desktops */
@media (min-width: 768px) {
  #app {
    max-width: 1024px;
  }
}

/* For desktops and large screens */
@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
  }
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2em;
  }
}

/* For extra-large screens */
@media (min-width: 1400px) {
  body {
    margin: 0 auto;
    padding: 0 20px; /* Extra padding for readability */
  }
  #app {
    max-width: 1440px;
    margin: 0 auto;
  }
}